body{
Width:100%;
}
#D1{display:block;}
#BX {display:block;}
#D6{display:block;}

#D1{Width:230px;background-color: inherit;}
#D6{Width:230px;background-color: inherit;}
#B1,#B2,#B3,{Width:150px;Height:10px;}

#D2, #D3{
Width:230px;
Height:15px;
text-align: center;
text-shadow: 1px 1px Gray;
color:Black;
font-size: 12px;
font-style: oblique;
font-family: "Times New Roman", Times, serif;
font-weight: bold;
//background-image:radial-gradient(Gray, Black);
//background-color: Yellow;
background-image: linear-gradient(180deg, white, yellow);
border-radius: -2px;
border: 2px solid white;
border-style: inset;
padding: 5px 16px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
 #D6{
Width:260px;
Height:250px;
color:Blue;
font-size: 16px;
font-weight: bold;
border-radius: 10px;
//border: 2px solid DarkGray;
//border-style: inset;
padding: 5px 16px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#BX{

Width:260px;
Height:250px;
color:Black;
font-size: 16px;
font-weight: bold;
border-radius: 10px;
//border: 2px solid DarkGray;
//border-style: inset;
padding: 5px 16px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#CN1, #CN2{ display:none;}
