#O1,#O2,#O3{display:block;}
#O1,#O2,#O3{display:none;}

#B1,#B2,#B3,#B4,#B5,#B6,#B7{Width:60px;Height:10px;}

#O1,#O2,#O3{
Width:260px;
Height:90px;
text-align:left;
text-shadow: 1px 1px Gray;
color:Black;
font-size: 12px;
font-style: oblique;
font-family: "Times New Roman", Times, serif;
font-weight: bold;
//background-image:radial-gradient(lightGreen, Black);
//background-color: Yellow;
background-image: linear-gradient(180deg, Yellow, white);
border-radius: 10px;
//border: 2px solid DarkGray;
//border-style: inset;
padding: 5px 16px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
